.jumbotron {
  font: oblique bold 120% cursive ;
  background-color: #1883ba;
  color: #fffa19;
  margin-top: 50px;
}
.btn-group-lg,
.btn-primary {
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 15px;
  color: #ffffff;
  background-color: #1883ba;
  border-radius: 6px;
  border: 2px solid #0016b0;
  width: 100%;
}
.btn-group-lg:hover,
.btn-primary:hover {
  color: #1883ba;
  background-color: #ffffff;
}
footer {
  font: oblique bold 90% cursive;
  padding: 10px 10px 0 10px;
  background-color: #dbdbd2;
  margin-bottom: 10px;
  margin-top: 20px;
}
.card-hotel {
  flex: 1 200px;
  padding: 2px 5px 2px 5px;
  margin-top: 10px;
}
.navbar-collapse {
  font: oblique bold 90% cursive ;
}
.navbar-brand {
  font: oblique bold 110% cursive ;
}
.footer-address-icon {
  padding-right: 20px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.vl {
  border: none;
  border-left: 1px solid hsl(200, 10%, 50%);
  height: auto;
  width: auto;
}
.tab-content {
  padding-top: 10px;
}
